.gallery{
    padding: 5px 20px 0;
    .goBack{
        font-size: 16px;
        text-transform: uppercase;
        display: flex;
        height: 24px;
        align-items: center;
        svg{
            cursor: pointer;
        }
        div{
            padding-left: 10px;
        }
    }
    .photoGrid{
        margin: 40px 0 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
        .loading{
            font-size: 18px;
        }
    }
}