.lightBox{
    background: rgba(0,0,0,0.9);
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    height: 0;
    z-index: 2;
    transition: all 0.4s;
    .header{
        position: absolute;
        color: #fff;
        top: 0;
        height: 50px;
        width: 100%;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text, .close{
            padding: 0 10px;
            font-size: 18px;
            cursor: pointer;
        }
    }
    .footer{
        position: absolute;
        color: #fff;
        bottom: 0;
        height: 40px;
        width: 100%;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .prev,.next{
            padding: 0 10px;
            font-size: 18px;
            cursor: pointer;
        }
    }
    .canvas{
        position: absolute;
        top: 50px;
        bottom: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}

.open{
    height: 100%;
    top:0;
}