.home{
    padding: 40px 20px 0;
    .connect{
        text-align: center;
        .text{
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
            font-weight: 300;
        }
        .fbBtn{
            background-color: #365899;
            display: inline-block;
            color: #fff;
            margin: 20px 0 0;
            padding: 5px 15px 6px;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
    .info{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        .profilePic{
            width: 100px;
            height: 100px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50px;
            }
        }
        .bio{
            margin: 0 0 0 25px;
            padding: 20px 0 20px 25px;
            border-left: 1px solid #888475;
            .name{
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 2px;
            }
            .email{
                font-size: 14px;
                color: #888475;
            }
            .logout{
                display: inline-block;
                padding: 5px 15px 6px;
                border: 1px solid #444950;
                cursor: pointer;
                margin-top: 10px;
            }
        }
    }
    .gallery{
        margin: 40px 0 0;
        border-top: 1px solid #888475;
        padding: 25px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .loading{
        text-align: center;
        font-size: 18px;
    }
}