.layout{
    .header{
        background-color: #444950;
        height: 50px;
        color: #fff;
        display: flex;
        align-items: center;
        .logo{
            margin: 0 0 0 20px;
        }
    }
    .content{

    }
}