.albumCard{
    min-height: 30vw;
    width: 29.5%;
    cursor: pointer;
    margin: 10px 5px;
    overflow: hidden;
    .albumPic{
        position: relative;
        img{
            height: 24vw;
            width: 100%;
            object-fit: cover;
            transition: all .4s ease;
            object-position: 50% 50%;
            box-shadow: 2px 2px 2px 0px #3A3A3A;
        }
        .overlay{
            position: absolute;
            height: 100%;
            width: 100%;
            transition: all 0.4s ease;
            background: rgba(0,0,0,0.2); 
            left: 0;
            top: 0;
            z-index: 1;
            color: #fff;
            div{
                text-align: right;
                font-size: 12px;
                padding: 5px 5px;
            }
        }
    }
    .albumName{
        padding: 2px 0 0 1px;
    }
    &:hover{
        .overlay{
            background: transparent;
        }
    }
}