.photoCard{
    height: 24vw;
    width: 24.2%;
    cursor: pointer;
    margin: 1px;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all .4s ease;
        transform: scale(1);
        object-position: 50% 50%;
        &:hover{
            transform: scale(1.1);
        }
    }
}